extends layout.pug

block content

  form(action="/park/add" method="post")
    input(type="hidden" name="_csrf" value="csrfToken")
    label(for="parkName")
    input(type="text" name="parkName" value=park.parkName)
    label(for="city")
    input(type="text" name="city" value=park.city)
    label(for="provinceState")
    input(type="text" name="provinceState" value=park.provinceState)
    label(for="country")
    input(type="text" name="country" value=park.country)
    label(for="opened")
    input(type="text" name="opened" value=park.opened)
    label(for="size")
    input(type="text" name="size" value=park.size)
    label(for="description")
    textarea(name="description", cols="30", rows="10" value=park.description)
